<h1>Listing Tweets</h1>
<table>
 <tr>
  <th>Id</th>
  <th>Status</th>
  <th>Zombie</th>
 </tr>
<% tweets = Tweet.all %>
<% tweets.all.each do |tweet| %>
 <tr>
  <td> <%= tweet.id %> </td>
  <td> <%= tweet.status   %></td>
  <td> <%= link_to tweet.zombie.name, tweet.zombie %> </td>
  <td> <%= link_to "Edit", edit_tweet_path(tweet) %></td>
  <td> <%= link_to "Destroy", tweet, method: :delete %></td>

 </tr>
<% end %>
</table>

<% if tweets.size == 0 %>
 <em>No Tweets Found</em>
<% end %>
